<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="/css/farmguide.css">
    <title>Document</title>
</head>
<body>
    <div id="nav">
        <div class="nav-container">
            <ul class="nav-items">
                <a href="/">
                    <li id="logo">
                        Agrocares
                    </li>
                </a>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/forum">Forum</a></li>
                    <li><a href="/features">Features</a></li>
                    <li>Profile</li>
                </ul>
                <li class="lsb">
                    <div class="button">
                   <a href="/signup">
                       <p class="button-text"> 
                           signup
                        </p>
                    </a>
                    </div>
                    <div class="button">
                        <a href="/login">
                            <p class="button-text"> 
                                Login
                            </p>
                        </a>
                        </div>
                </li>
                
            </ul>
        </div>
    </div>
    <div id="container">
        <span>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus eius cupiditate quia fugit soluta nostrum maiores quidem ab facere pariatur! Cupiditate nesciunt ipsa dicta odio ex at iusto distinctio aut.

        </span>
        <div class="main">
            <div>
                <h1>
                    rice farming
                </h1>
                <p class="tab">
                    introduction
                    
                   
                </p>
                <p>Rice is a cereal grain belongs to the grass family of Graminae and native to the deltas of the great Asian rivers, the Ganges, the Chang (Yangtze), and the Tigris and Euphrates. The  plant grows from 2 to 6 ft tall, with a round, jointed stem, long pointed leaves and edible seeds borne in the dense head on separate stalks. Rice is one of the most cultivated grain <a data-ail="2779" target="_self" href="https://www.agrifarming.in/crop-plants-information">crops</a> in India as well as in Asian countries and a staple diet of a major part of India. India is an important center for rice cultivation and consumption. India stands in the second position after China in the production of rice. Methods of growing rice differ greatly in different regions, but in most Asian countries including India, the traditional hand methods of cultivating and <a data-ail="2779" target="_self" href="https://www.agrifarming.in/harvesting-techniques-of-fruits-and-vegetables">harvesting</a> rice are still practiced. Modern <a data-ail="2779" target="_self" href="https://www.agrifarming.in/frequently-asked-questions-about-farming-agriculture">farming</a> of rice started in most of the countries which drastically reduced the labor problems and cost of cultivation. There are machines available from planting to harvesting the rice crop. Some parts of Indian rural areas still depend on the wet buffalos for <a data-ail="2779" target="_self" href="https://www.agrifarming.in/land-preparation-types-methods-objectives-advantages">land preparation</a> and manpower in plantation and harvesting. People often confuse with <a data-ail="2779" target="_self" href="https://www.agrifarming.in/major-paddy-insect-pests-control-measures">paddy</a> and rice. Rice, when it is still covered by the brown hull, is known as paddy. Rice fields are also called paddy fields or rice paddies. South India consumes more rice than any part of India. Rice can be used to produce Rice bran oil from its husk apart from using in regular culinary purpose. There are many varieties of rice cultivated across India. With a proper filed management practices and <a data-ail="2779" target="_self" href="https://www.agrifarming.in/frequently-asked-questions-about-irrigation-faqs">irrigation</a> facility, rice farming would be profitable in a short period of time. In India, rice is cultivated in Rabi and Kharif seasons. However, in some parts of India, rice is being cultivated 3times yearly.</p>
                
            </div>
        </div>
    </div>
    <script src="//code.tidio.co/mpdzdvjhz9xchfl4rqruup5ak5m6usxp.js" async></script>
</body>
</html>