<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/features.css">

    <title>Agrocares</title>
</head>

<body>
    <div id="nav">
        <div class="nav-container">
            <ul class="nav-items">
                <a href="/">
                    <li id="logo">
                        Agrocares
                    </li>
                </a>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/forum">Forum</a></li>
                    <li><a href="/features">Features</a></li>
                    <li>Profile</li>
                </ul>
                <li class="lsb">
                    <div class="button">
                        <a href="/signup">
                            <p class="button-text">
                                signup
                            </p>
                        </a>
                    </div>
                    <div class="button">
                        <a href="/login">
                            <p class="button-text">
                                Login
                            </p>
                        </a>
                    </div>
                </li>

            </ul>
        </div>
    </div>

    <div class="heading">
        <h1 class="header">Features</h1>
        <p class="tag">Our website offers following features</p>
    </div>

    <div class="container">
        <div class="card_container">
            <div class="card">
                <img src="images/CropCalendar.jpg" alt="" srcset="">
                <div class="card_details">
                    <div class="name">Crop Calender</div>
                    <div class="desp">Helps a farmer to identify the crop lifecycle, management, and practices of the
                        crop he's going to grow.</div>
                </div>
            </div>
        </div>
        <div class="card_container">
            <div class="card">
                <img src="images/SoilTesting.jpg" alt="" srcset="">
                <div class="card_details">
                    <div class="name">Soil Testing</div>
                    <div class="desp">Analysis of a soil sample to determine nutrient content, composition, and other
                        characteristics such as the acidity or
                        pH level.</div>
                </div>
            </div>
        </div>


        <div class="card_container">
            <a href="/weather">
                <div class="card">
                    <img src="images/WeatherPred.jpg" alt="" srcset="">
                    <div class="card_details">
                        <div class="name">Weather Forecast</div>
                        <div class="desp">Get real-time weather predictions for your location.</div>
                    </div>
                </div>
            </a>
        </div>

        <div class="card_container">
            <div class="card">
                <img src="images/MandiPrice.jpg" alt="" srcset="">
                <div class="card_details">
                    <div class="name">Mandi Price</div>
                    <div class="desp">Provides the best rates of mandi real-time.</div>
                </div>
            </div>
        </div>

        <div class="card_container">
            <a href="/forum">
                <div class="card">
                    <img src="images/Forum.jpg" alt="" srcset="">
                    <div class="card_details">
                        <div class="name">Community</div>
                        <div class="desp">Place to meet other fellow farmers and experts.</div>
                    </div>
                </div>
            </a>
        </div>

        <div class="card_container">
            <div class="card">
                <img src="images/LaborAd.jpg" alt="" srcset="">
                <div class="card_details">
                    <div class="name">Labor ad Posting</div>
                    <div class="desp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna
                        aliqua.</div>
                </div>
            </div>
        </div>

        <div class="card_container">
            <a href="farmguide">
                <div class="card">
                    <img src="images/FarmGuide.jpg" alt="" srcset="">
                    <div class="card_details">
                        <div class="name">Farmer Guide</div>
                        <div class="desp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna
                            aliqua.</div>
                    </div>
                </div>
            </a>
        </div>

    </div>
    </div>
    <script src="//code.tidio.co/mpdzdvjhz9xchfl4rqruup5ak5m6usxp.js" async></script>
</body>

</html>