<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Agrocares</title>
</head>
<body>
    <div id="nav">
        <div class="nav-container">
            <ul class="nav-items">
                <a href="/">
                    <li id="logo">
                        Agrocares
                    </li>
                </a>
                <ul class="nav-links">
                    <li><a href="/forum">Forum</a></li>
                    <li>link</li>
                    <li>link</li>
                    <li>link</li>
                </ul>
                <li class="lsb">
                    <div class="button">
                   <a href="/signup">
                       <p class="button-text"> 
                           signup
                        </p>
                    </a>
                    </div>
                    <div class="button">
                        <a href="/login">
                            <p class="button-text"> 
                                Login
                            </p>
                        </a>
                        </div>
                </li>
                
            </ul>
        </div>
    </div>
    
    <div id="1">

    </div> 
    <script src="//code.tidio.co/mpdzdvjhz9xchfl4rqruup5ak5m6usxp.js" async></script>    
</body>
</html>