<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/laborAd.css">
    <title>Document</title>
</head>
<body>
    <div id="nav">
        <div class="nav-container">
            <ul class="nav-items">
                <a href="/">
                    <li id="logo">
                        Agrocares
                    </li>
                </a>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/forum">Forum</a></li>
                    <li><a href="/features">Features</a></li>
                    <li>Profile</li>
                </ul>
                <li class="lsb">
                    <div class="button">
                   <a href="/signup">
                       <p class="button-text"> 
                           signup
                        </p>
                    </a>
                    </div>
                    <div class="button">
                        <a href="/login">
                            <p class="button-text"> 
                                Login
                            </p>
                        </a>
                        </div>
                </li>
                
            </ul>
        </div>
    </div>
    <div class="container">
        <div id="create">
            <form action="" id="add-post">
                <input type="text" name="Name" id="post" placeholder="Name">
                <input type="text" name="Surname" id="auth" placeholder="Surname">
                <input type="text" name="District" id="auth" placeholder="District">
                <input type="text" name="State" id="auth" placeholder="State">
                <input type="number" name="Number" id="auth" placeholder="Number">
                <input type="submit" value="Post">
            </form>
        </div>
        <div id="display">
    
        </div>
        </div>

</body>

</html>