<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <link rel="stylesheet" href="/static/nav.css">
    
    <title>Login/signup</title>
</head>
<body>
    <div id="nav">
        <div class="nav-container">
            <ul class="nav-items">
                <li id="logo">Agrocares</li>
                <ul class="nav-links">
                    <li>link</li>
                    <li>link</li>
                    <li>link</li>
                    <li>link</li>
                </ul>
                <li><div class="button">
                   <p class="button-text"> Login</p>
                </div></li>
            </ul>
        </div>
    </div>
    <div class="card">
       <div class="card-inner">
        <form  method="post">
            <div class="inp">
                <label for="E-mail">E-mail</label>
                <input type="text" name="E-mail" id="" required >
            </div>
            <div class="inp">
                <label for="password">Password</label>
                <input type="password" name="password" id="" value="">
            </div>
            <input type="submit" value="Login" class="button">
        </form>
       </div>
    </div>
</body>
</html>