<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/nav.css">
    <title>Login/signup</title>
</head>
<body>
    <div id="nav">
        <div class="nav-container">
            <ul class="nav-items">
                <li id="logo">Agrocares</li>
                <ul class="nav-links">
                    <li>link</li>
                    <li>link</li>
                    <li>link</li>
                    <li>link</li>
                </ul>
                <li><div class="button">
                   <p class="button-text"> Login</p>
                </div></li>
            </ul>
        </div>
    </div>
</body>
</html>