<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/nav.css">
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
    
    <title>Login/signup</title>
</head>
<body>
    <div id="nav">
        <div class="nav-container">
            <ul class="nav-items">
               <a href="/"><li id="logo">Agrocares</li></a>
                <ul class="nav-links">
                    <li>link</li>
                    <li>link</li>
                    <li>link</li>
                    <li>link</li>
                </ul>
                <li><div class="button">
                   <p class="button-text"> Login</p>
                </div></li>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="title-text">
           <div class="title login">
              Login Form
           </div>
          
        </div>
        <div class="form-container">
 
           <div class="form-inner">
              <form action="#" class="login" id="login">
                 <div class="field">
                    <input type="text" placeholder="Email Address" name="login" required>
                 </div>
                 <div class="field">
                    <input type="password" placeholder="Password" name="password" required>
                 </div>
                 <div class="pass-link">
                    <a href="#">Forgot password?</a>
                 </div>
                 <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Login">
                 </div>
                 <div class="signup-link">
                    Not a member? <a href="/signup">Signup now</a>
                 </div>
              </form>
             
                </div>
              
           </div>
        </div>
     </div>
     <script>
window.addEventListener("DOMContentLoaded", () => {
          const firebaseConfig = {
            apiKey: "AIzaSyBChjbfDaGEYdTTe8b4d4CVVsdQYvLXIsg",
            authDomain: "agrocares-9d407.firebaseapp.com",
            projectId: "agrocares-9d407",
            storageBucket: "agrocares-9d407.appspot.com",
            messagingSenderId: "299439045102",
            appId: "1:299439045102:web:1beb29d6701fe2af52b6ff",
            measurementId: "G-38EZ7LT7LG"
          };

          firebase.initializeApp(firebaseConfig);

          firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

          document
            .getElementById("login")
            .addEventListener("submit", (event) => {
              event.preventDefault();
              console.log("hello");
              const login = event.target.login.value;
              const password = event.target.password.value;

              firebase
                .auth()
                .signInWithEmailAndPassword(login, password)
                .then( cred => {
                  console.log(cred);
                });
                
              
            });
        });
     </script>
</body>
</html>