<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/nav.css">
    
    <title>Login/signup</title>
</head>
<body>
   <div id="nav">
      <div class="nav-container">
          <ul class="nav-items">
              <a href="/">
                  <li id="logo">
                      Agrocares
                  </li>
              </a>
              <ul class="nav-links">
                  <li><a href="/forum">Forum</a></li>
                  <li>link</li>
                  <li>link</li>
                  <li>link</li>
              </ul>
              <li class="lsb">
                  <div class="button">
                 <a href="/signup">
                     <p class="button-text"> 
                         signup
                      </p>
                  </a>
                  </div>
                  <div class="button">
                      <a href="/login">
                          <p class="button-text"> 
                              Login
                          </p>
                      </a>
                      </div>
              </li>
              
          </ul>
      </div>
  </div>
    <div class="wrapper">
        <div class="title-text">
          
           <div class="title signup">
              Signup Form
           </div>
        </div>
        <div class="form-container">
          
           <div class="form-inner">

              <form action="#" class="signup" id="signup">
                 <div class="field">
                    <input type="text" placeholder="Email Address" name="login"required>
                 </div>
                 <div class="field">
                    <input type="password" placeholder="Password" name="password" required>
                 </div>
                 
                 <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Signup">
                 </div>
                 <div class="signup-link">
                  Already a member? <a href="/login">Sign in</a>
               </div>
              </form>
           </div>
        </div>
     </div>
     <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
     <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
     <script>
         const firebaseConfig = {
            apiKey: "AIzaSyBChjbfDaGEYdTTe8b4d4CVVsdQYvLXIsg",
            authDomain: "agrocares-9d407.firebaseapp.com",
            projectId: "agrocares-9d407",
            storageBucket: "agrocares-9d407.appspot.com",
            messagingSenderId: "299439045102",
            appId: "1:299439045102:web:1beb29d6701fe2af52b6ff",
            measurementId: "G-38EZ7LT7LG"
          };

         firebase.initializeApp(firebaseConfig);

         firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

         document
         .getElementById("signup")
         .addEventListener("submit", (event) => {
            event.preventDefault();
            const login = event.target.login.value;
            const password = event.target.password.value;

            firebase
               .auth()
               .createUserWithEmailAndPassword(login, password)
               .then(() => {
               return firebase.auth().signOut();
               })
               .then(() => {
               window.location.assign("/login");
               });
            
         });
     </script>
</body>
</html>