<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/nav.css">
    
    <title>Login/signup</title>
</head>
<body>
    <div id="nav">
        <div class="nav-container">
            <ul class="nav-items">
               <a href="/"><li id="logo">Agrocares</li></a>
                <ul class="nav-links">
                    <li>link</li>
                    <li>link</li>
                    <li>link</li>
                    <li>link</li>
                </ul>
                <li><div class="button">
                   <p class="button-text"> Login</p>
                </div></li>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="title-text">
          
           <div class="title signup">
              Signup Form
           </div>
        </div>
        <div class="form-container">
          
           <div class="form-inner">

              <form action="#" class="signup">
                 <div class="field">
                    <input type="text" placeholder="Email Address" required>
                 </div>
                 <div class="field">
                    <input type="password" placeholder="Password" required>
                 </div>
                 <div class="field">
                    <input type="password" placeholder="Confirm password" required>
                 </div>
                 <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Signup">
                 </div>
                 <div class="signup-link">
                  Already a member? <a href="/login">Sign in</a>
               </div>
              </form>
           </div>
        </div>
     </div>
     <script>
        const loginText = document.querySelector(".title-text .login");
        const loginForm = document.querySelector("form.login");
        const loginBtn = document.querySelector("label.login");
        const signupBtn = document.querySelector("label.signup");
        const signupLink = document.querySelector("form .signup-link a");
        signupBtn.onclick = (()=>{
          loginForm.style.marginLeft = "-50%";
          loginText.style.marginLeft = "-50%";
        });
        loginBtn.onclick = (()=>{
          loginForm.style.marginLeft = "0%";
          loginText.style.marginLeft = "0%";
        });
        signupLink.onclick = (()=>{
          signupBtn.click();
          return false;
        });
     </script>
</body>
</html>