<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/weather.css">
    <link rel="stylesheet" href="/css/nav.css">
    <title>Weather App</title>
</head>

<body>
    <div id="nav">
        <div class="nav-container">
            <ul class="nav-items">
                <a href="/">
                    <li id="logo">
                        Agrocares
                    </li>
                </a>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/forum">Forum</a></li>
                    <li><a href="/features">Features</a></li>
                    <li>Profile</li>
                </ul>
                <li class="lsb">
                    <div class="button">
                   <a href="/signup">
                       <p class="button-text"> 
                           signup
                        </p>
                    </a>
                    </div>
                    <div class="button">
                        <a href="/login">
                            <p class="button-text"> 
                                Login
                            </p>
                        </a>
                        </div>
                </li>
                
            </ul>
        </div>
    </div>
    
    <div class="container">
        <div class="weather-box">
            <div class="location-container">
                <h1 class="location"></h1>
                <div class="icon"><img class="wicon" src="" alt="Weather icon"></div>
                <!--<canvas class="icon" width="128" height="128"></canvas>-->
            </div>
            <div class="temperature-container">
                <h2 class="temperature"></h2>
                <span class="degree"> &#176C</span>
            </div>
            <p class="description"></p>
        </div>
    </div>


    <!--<script src="./skycons.js"></script>-->
    <script src="/js/weather.js"></script>
</body>

</html>