
body{
    background-image: url('./images/christine-lENhFCC2tGY-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    
}
.card{
    width: 900px;
    height: 500px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(50px);
    border-radius: 54px;
    margin-top: 150px;
    margin-left: 300px;

}
.card-inner{
    width: 450px;
    height: 500px;
    background-color: white;
    border-radius:  54px 0 0 54px ;
}
form{
    padding-top: 180px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    width: 200px;
}
form input{
    outline: none;
    border: none;
}
.inp{
    margin: 10px 0;
    border: 1px black solid;
    border-radius: 5px;
}
